/*------------------------------



=BASIC SETUP



------------------------------*/







/* Makeshift CSS Reset */



* {



	margin: 0;



	padding: 0;



}



html, body, div, span, applet, object, iframe,







h1, h2, h3, h4, h5, h6, p,







blockquote, pre, a, abbr, acronym, address, big,







cite, code, del, dfn, em, font, img,







ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dl, dt, dd, ol, ul, li,







fieldset, form, label, legend,







table, caption, tbody, tfoot, thead, tr, th, td,







center, u, b, i, marquee 



{



	margin:0 auto;







	padding: 0px;







	border: 0px;







	outline: 0px;



}



/* Tell the browser to render HTML 5 elements as block */



header, footer, section, aside, nav, article, banner, container,body_content {



	display: block;



}







body 



{ 



  margin:0; 



  padding:0; 



  background:url(images/pattern.jpg) repeat;



}







img



{ 



 border:0; 



 margin:0; 



 padding:0;



}







@font-face {



    font-family: 'Avenir65MediumMedium';



    src: url('fonts/avenir65medium.eot');



    src: url('fonts/avenir65medium.eot') format('embedded-opentype'),



         url('fonts/avenir65medium.woff') format('woff'),



         url('fonts/avenir65medium.ttf') format('truetype'),



         url('fonts/avenir65medium.svg#Avenir65MediumMedium') format('svg');



}



@font-face {



    font-family: 'avenirregular';



    src: url('fonts/12_avenir_35_light_02173-webfont.eot');



    src: url('fonts/12_avenir_35_light_02173-webfont.eot?#iefix') format('embedded-opentype'),



         url('fonts/12_avenir_35_light_02173-webfont.woff') format('woff'),



         url('fonts/12_avenir_35_light_02173-webfont.ttf') format('truetype'),



         url('fonts/12_avenir_35_light_02173-webfont.svg#avenirregular') format('svg');



    font-weight: normal;



    font-style: normal;







}



ul, li { list-style:none;}







a {text-decoration: none;}







 p



{



  margin:0; padding:0; color:#000; font-family:'avenirregular'; font-size:15px; line-height:16px; font-weight:normal; 



 }



 p span



{



  color:#fff;



 }



p a



{



  color:#62a78a;



 }



p a:hover



{



  color:#757575; text-decoration:underline;



 }



p a.read



{



  color:#2f6ed5; font-weight:bold; text-decoration:none;



 }



p a.read:hover



{



  color:#000; text-decoration:none;



 }



 



.space



 {



 	margin:0; padding:0; float:left; height:20px; width:100%;



 }







.alignleft 



{



margin:0;



padding:0 15px 0 0;	



float: left;



}



.alignright 



{



margin:0;



padding:0 0 0 15px;



float: right;



}







.aligncenter 



{



text-align: center;



}







::selection 



{



 background: #dbeae3; 



 color: #000;



}



::-moz-selection 



{



 background: #dbeae3; 



 color: #000;



}



::-webkit-selection 



{



 background:#dbeae3;



 color:#000;



}







h1 { margin:0; padding:0 0 10px; color:#000; font-family:'avenirregular'; font-size:19px; line-height:23px; font-weight:normal; }



h2 { margin:0; padding:0 0 15px; color:#000; font-family:'avenirregular'; font-size:18px; line-height:23px; font-weight:bold; }



h3 { margin:0; padding:10px 0; text-align:left; color:#fff; font-family:'avantgarde_bk_btbook'; font-size:26px; line-height:26px; font-weight:normal; }







#wrapper {



    margin:0 auto;



    padding:0;



	width:986px;	



}







/*------------------------------



=HEADER



------------------------------*/







/*------------------------------



=NAV



------------------------------*/







/*------------------------------



Banner



------------------------------*/



banner { margin:0; padding:0; width:986px; background: url(images/banner-rpt.jpg) repeat-y; float:left; }







/*------------------------------



Section



------------------------------*/

section .bottom-left-box { margin:0 16px 0 0; padding:0; width:318px; height:145px; float:left; }



section .bottom-mid-box { margin:0 16px 0 0; padding:0; width:318px; height:145px; float:left; }



section .bottom-right-box { margin:0; padding:0; width:318px; height:145px; float:right; }



#text-holder{ margin:0; padding:0; width:170px; float:left;}

#product-holder{ margin:0; padding:0; width:120px; float:right;}



.more-yellow a { margin:20px 0 0; padding:0; width:68px; background: url(images/yellow-button.jpg) no-repeat; float:left; font:12px/20px 'avenirregular'; color:#000; text-align:center; }



.more-yellow a:hover { background: url(images/green-button.jpg) no-repeat; }







.more-green a { margin:20px 0 0; padding:0; width:68px; background: url(images/green-button.jpg) no-repeat; float:left; font:12px/20px 'avenirregular'; color:#000; text-align:center; }



.more-green a:hover { background: url(images/yellow-button.jpg) no-repeat; }







.more-balck a { margin:20px 0 0; padding:0; width:68px; background: url(images/black-button.jpg) no-repeat; float:left; font:12px/20px 'avenirregular'; color:#fff; text-align:center; }



.more-balck a:hover { background: url(images/green-button.jpg) no-repeat; }







/*-----------------Home Content Holder---------------------*/



#content-holder { margin:20px 0 0; padding:20px 0 0; width:986px; float:left; border-top:1px dotted #d9d9d9;}







/*------------------------------



Container



------------------------------*/



container { margin:0; padding:20px 0 10px; width:986px; float:left; background: url(images/container-rpt.jpg) repeat-x; }



container .left-content { margin:0; padding:0 0 0 10px; width:190px; float:left; }



container .right-content { margin:0; padding:0 20px; width:733px; float:right; border-left:1px dotted #d9d9d9; }



container .right-content .box-content { margin:20px 0 0; padding:0; width:733px; float:left; }



container .right-content .box-content .box-one { margin:0; padding:20px 0 0 20px; width:339px; background: url(images/inside-box-one.jpg) no-repeat; height:125px; float:left; }



container .right-content .box-content .box-two { margin:0; padding:20px 0 0 20px; width:339px; background: url(images/inside-box-two.jpg) no-repeat; height:125px; float:right; }



container .right-content .main-holder { margin:20px 0 0; padding:20px 0 0; width:733px; float:left; border-top:1px dotted #d9d9d9; }



#inner-container { margin:0; padding:20px 0 10px; width:986px; float:left; }



/*------------------------------



Footer



------------------------------*/



footer { margin:30px 0 0; padding:20px 0; width:986px; float:left; border-top:2px dotted #444444; }



footer .footer-left { margin:0; padding:0; width:815px; float:left; }



footer .footer-left .menu-holder { margin:0; padding:0; width:515px; float:left; }







ul.botnav



{



  margin:0; padding:0;



}



ul.botnav li



{



  margin:0; padding:0; display:inline; float:left; background: url(images/botnav-sep.jpg) no-repeat left;  







}



ul.botnav li.menu-item-first { background:transparent; }







ul.botnav li a



{



 margin:0; padding:0 10px; color:#585858; font-size:12px; line-height:13px;  font-family:'avenirregular'; text-decoration:none;  font-weight:normal; text-align:left;



}



ul.botnav li a:hover



{



color:#000;



 



}



ul.botnav li.current-menu-item a



{



color:#000;



}







footer .footer-left .signup-holder { margin:0; padding:20px 0 0; width:785px; float:left; }



footer .footer-left .signup-holder .signup { margin:0; padding:0; width:298px; float:left; }



footer .signup-holder img {vertical-align:top; }



.searchform { margin:0; padding:0; width:298px; float:left; }



.searchfield { margin:0; padding:0; width:234px; height:22px; float:left; border:1px solid #d3d3d3; font:12px/22px 'avenirregular'; color:#000; }



.search_btn { margin:0; padding:0; width:56px; height:24px; float:right; font:12px/24px 'avenirregular'; color:#f5cf08; background:#000; border:0; cursor:pointer; }







footer .footer-left .signup-holder .consultation { margin:0; padding:0; width:170px; height:25px; float:left; margin-left:35px; margin-right:35px; }



footer .footer-left .signup-holder .consultation a { margin:0; padding:0; width:170px; height:28px; float:right; background: url(images/consultation-bg.jpg) no-repeat; font:13px/28px 'avenirregular'; color: #10110b; text-align:center; }



footer .footer-left .signup-holder .consultation a:hover { background: url(images/consultation-bg-h.jpg) no-repeat; }







footer .footer-right { margin:0; padding:0; width:160px; float:right; }







ul.social-links{ margin:10px 0 0; padding:0; float:right; }



ul.social-links li{ margin:0; padding:0 0 0 5px;  float:left;}



ul.social-links li a:hover{ margin:0; padding:0;  display:inline;  float:left; opacity:0.7; }



ul.social-links li a.active{ margin:0; padding:0; display:inline;  float:left; }







.left-txt {color:#585858; font-size:15px; padding:0 0 20px; }



.follow {color:#585858; text-align:right; font-size:13px; }



.copyright {color:#fff; padding:10px 0; float:left;}



.form-allowed-tags {display:none;}



/*----------------*/

.category-uncategorized { margin:0; padding:0; width:100%;  float:left;}

h1.entry-title {color: #000000;font-family: 'avenirregular';font-size: 19px;font-weight: bold;    line-height: 23px;margin: 0; padding: 20px 0 10px;}

.wp-caption { margin:20px 0 20px 0; padding:0 60px 0 0; float:left;}

/*=======================*/



.consult-btn {

color:#000;

background-image:url('https://shop.healthilocks.com/v/vspfiles/templates/healthilocks/images/template/consultation-bg.jpg');

background-repeat:no-repeat;

width:170px;

height:28px;

position:absolute;

}